<h1>Login</h1>

<div class="row bg-dark p-5 m-5" >
  <div class="col-md-6">
    <input type="text" placeholder="user name"><br><br>
    <input class="text" placeholder="password" type="password" name="" id=""><br><br>


    <button type="button" class="btn btn-danger">Danger</button>
  </div>
  <div class="col-md-6">
    <p style="color: white;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolore eaque, incidunt animi natus aliquid mollitia tempora amet assumenda similique dolor harum asperiores eos! Facilis, temporibus repellendus! A, architecto esse.
      Commodi illo cumque praesentium quam, alias aperiam mollitia quaerat odit saepe! Nam eos, libero veniam debitis quo quasi alias quis, magnam est repellat expedita totam pariatur odio perferendis fugiat similique!
      Quia, earum debitis illum porro voluptatibus explicabo! Natus pariatur qui dolores magnam inventore maxime, necessitatibus repellat veritatis illum nisi facilis nostrum modi, perferendis porro voluptas? Earum minima commodi soluta dolor!
    </p>
  </div>
</div>