
<nav class="nav justify-content-end nav-underline   navbar navbar-light" style=" position: absolute; left: 45%; top: 4%;">
  <li class="nav-item">
    <a class="nav-link active" href="#" style="margin-right: 4%;">Home</a>
  </li>
  <li>
    <a class="nav-link tab-bar " href="#" style="margin-left: 100%; position: relative;">Include</a>
  </li>
  <li>
    <a class="nav-link tab-bar" href="#" style="margin-left: 330%; position: relative;">About</a>
  </li>
  <li>
    <a class="nav-link tab-bar" href="#" style="margin-left: 310%; position: relative;">Behaviour</a>
  </li>
</nav>


<img [src]="url" width="550" height="500" class="rounded float-end" style="position: absolute;left:50% ; top: 10%; ">

<h1 class="h1 title-home">Cat Care</h1>

<p class="text-lg-start introduce-home">Cats are renowned for their companionship. They form strong bonds with their owners
  and
  provide comfort and emotional support. Their affectionate nature and the soothing act of petting a cat contribute to a
  sense of well-being and stress relief.</p>

  
  <div class="card mb-3" style="width:180% ; height: 12%; position: absolute; top: 100%; left: 0%; background-color: #0A3D62;"></div>