<!-- <ul class="nav justify-content-end nav-underline">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
 <li class="nav-item">
<a class="nav-link active nav-"   href="#">Include</a>
 </li>
  
</ul> -->

<nav class="nav justify-content-end nav-underline  nav-bar navbar navbar-light ">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li>
    <a class="nav-link tab-bar" href="#">Include</a>
  </li>
  <li>
    <a class="nav-link tab-bar" href="#">About</a>
  </li>
  <li>
    <a class="nav-link tab-bar" href="#">Behaviour</a>
  </li>
</nav>
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<h1 class="h1 title-home">Cat Care</h1>

<p class="text-break introduce-home">Cats are renowned for their companionship. They form strong bonds with their owners
  and
  provide comfort and emotional support. Their affectionate nature and the soothing act of petting a cat contribute to a
  sense of well-being and stress relief.</p>
