
<!-- <nav class="nav justify-content-end nav-underline   navbar navbar-light" style=" position: absolute; left: 45%; top: 4%;">
  <li class="nav-item">
    <a class="nav-link tab-bar " href="#" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">Home </a>
  </li>
  <li>
    <a class="nav-link tab-bar " href="#" style="margin-left: 190%; position: relative;">Include</a>
  </li>
  <li>
    <a class="nav-link tab-bar" href="#" style="margin-left: 450%; position: relative;">About</a>
  </li>
  <li>
    <a class="nav-link tab-bar" href="#" style="margin-left: 400%; position: relative;">Behaviour</a>
  </li>
</nav> -->
<ul class="nav justify-content-end nav-underline" style="position:absolute; left: 45%; top: 5%;">
  <li class="nav-item">
    <a class="nav-link active " aria-current="page" href="#" >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" style="color: black; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:14px;">Include</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" style="color: black; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:14px">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: black; font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:14px; ">Behaviour</a>
  </li>
</ul>

<img [src]="url1" width="550" height="400" class="rounded float-end" style="position: absolute;left:50% ; top: 10%; ">

<h1 class="h1 title-home">Cat Care</h1>

<p class="text-lg-start introduce-home">Cats are renowned for their companionship. They form strong bonds with their owners
  and
  provide comfort and emotional support. Their affectionate nature and the soothing act of petting a cat contribute to a
  sense of well-being and stress relief.</p>

  <button type="button" class="btn btn-danger" style="width: 15%; position: absolute; top: 60%; left: 18%; background-color: #0C2461; border-color: #0C2461;">Sign Up</button>
  <button type="button" class="btn btn-danger" style="width: 15%; position: absolute; top: 70%; left: 18%; background-color: #0C2461; border-color: #0C2461;">Log In</button>
  <!-- <div class="card mb-3" style="width:102% ; height: 11%; position: absolute; top: 90%; left: 0%; background-color: #0A3D62; color: white;">kk</div> -->
  <div class="mb-3" style="width:102% ; height: 11%; position: absolute; top: 90%; left: 0%; background-color: #0A3D62;">

  </div>